<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645475823298-6ekk66di10hubj7asktq76nnircp57c6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645475823298-6ekk66di10hubj7asktq76nnircp57c6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>645475823298-ohr9ectt2gjtd24pl7lfugph5aql82ao.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBSIHuPAXk-MkWSD3qBaYnz480X8DF99iw</string>
	<key>GCM_SENDER_ID</key>
	<string>645475823298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wonoyu.shopp</string>
	<key>PROJECT_ID</key>
	<string>shopp-rn-sanbercode</string>
	<key>STORAGE_BUCKET</key>
	<string>shopp-rn-sanbercode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645475823298:ios:d97f2e16d1558cfc40955b</string>
</dict>
</plist>